.url-list--item {
  margin:10px 0;
  font-size:1.9rem;
  border: 2px solid darken(#eee, 25%);
  border-radius: 5px;
  padding:10px;
  background: #eee;
}

.links-list--header {
  text-align:center;
  margin:20px 0;
  font-size:4.5rem;
  font-weight:600;
}