* {
  font-family: "Lato";
  margin: 0;
  padding: 0;
  // color: black;
}

div {
  box-sizing: border-box;
}

body {
  color: #555555;
  font-family: "Lato";
  font-size:1.6rem;
}

h1 {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size:3.4rem;
}

.clearme {
  clear: both;
}

.playerlist--header {
  font-size: 5rem;
  margin-bottom:10px;
  color:#333;
}

.btn--delete {
  float: right;
}

.login__box {
  margin-top: 50vh;
  transform: translatey(-60%);
}

@import './components/variables';
@import './components/title-bar';
@import './components/wrapper';
@import './components/item';
@import './components/button';
@import './components/player';
@import './components/form';
@import './components/shortlnkapp/shortlnk';